view {
  flex-grow: 1;
}

view:nth-child(1) {
  background-color: coral;
  cursor: pointer;
}

view:nth-child(2) {
  background-color: limegreen;
  cursor: none;
}

view:nth-child(3) {
  background-color: aqua;
  cursor: move;
}

view:nth-child(4) {
  background-color: dodgerblue;
  cursor: url(res:ReactUnity/sprites/check) 5 5;
}
