.host {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100vh;
}

.codeExample {
  height: 100%;

  @media (max-width: 640px) {
    flex-direction: column;
  }

  .unityContainerWrapper,
  .unityInstance {
    width: 100%;
    height: 100%;
  }
}
