.host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  &.inline {
    height: 420px;
    border-radius: 6px;
    overflow: hidden;

    @media (max-width: 720px) {
      flex-direction: column;
      height: auto;

      .codeEditor {
        max-height: 360px;
      }

      .unityContainer {
        height: 360px;
      }
    }
  }

  .codeEditorSection {
    height: 100%;
    flex: 1 0 60%;
    display: flex;
    flex-direction: column;

    .codeEditor {
      flex-grow: 1;
      overflow: auto;

      > div {
        min-height: 100%;
      }

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        opacity: 0.5;
      }

      &::-webkit-scrollbar-track {
        background: #282a36;
      }

      &::-webkit-scrollbar-thumb {
        background: #6a6a6a;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #5f5f5f;
      }
    }
  }

  .livePreview {
    flex: 1 0 40%;
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;

    .setActiveView,
    .errorView {
      position: absolute;
      left: 0;
      right: 0;
      top: 42px;
      bottom: 0;
    }

    .errorView {
      background: white;
      padding: 12px;
      color: rgb(255, 100, 100);
    }

    .setActiveView {
      background: #cdcdcd;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.4px;
        border-radius: 8px;
        border: 1px solid gray;
        color: white;
        background: #4a505e;
        font-weight: bold;
      }
    }
  }

  .unityContainer {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
  }

  .title {
    padding: 0px 12px;
    background-color: #ececec;
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.08em;

    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    height: 42px;

    &.error {
      background: #ff6464;
      color: #ffffff;
    }

    .fileTab {
      padding: 10px 20px;
      border: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-right: 12px;
      text-transform: uppercase;
      color: white;
      font-weight: inherit;
      letter-spacing: inherit;
      align-self: flex-end;
      background: #606570;
      cursor: pointer;

      &.active {
        background: #282a36;
      }
    }

    .revertButton {
      align-self: center;
      padding: 6px 12px;
      background-color: #9c7db0;
      color: #ececec;
      border: none;
      border-radius: 8px;
      text-transform: uppercase;
      font-weight: inherit;
      letter-spacing: inherit;
      cursor: pointer;
      font-size: 12px;
    }
  }

  .codeEditorSection {
    .title {
      background: #4a505e;
      color: #afafaf;
    }
  }
}
