html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow: overlay;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

.global-unity-container {
  // Fallback in case 'contents' is not supported
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: contents;
}
