view {
  flex-grow: 1;
}

view:nth-child(1) {
  background-color: coral;
  visibility: visible;
}

view:nth-child(2) {
  background-color: limegreen;
  visibility: hidden;
}

view:nth-child(3) {
  background-color: aqua;
  visibility: visible;
}

view:nth-child(4) {
  background-color: dodgerblue;
  visibility: hidden;
}
